numpy==1.26.4
diffrax==0.7.0
equinox==0.13.2
iisignature==0.24
jax==0.6.2
jaxtyping==0.3.3
matplotlib==3.10.7
numpy==1.26.4
optax==0.2.6
pyparsing==3.2.5
PyYAML==6.0.3
scipy==1.15.3
six==1.17.0
sympy==1.14.0
torch==2.9.1
torchdiffeq==0.2.5
tqdm==4.67.1
SciencePlots==2.2.0
scikit-learn==1.7.2

